flask
requests
python-dotenv
gunicorn
pandas
boto3
crewai
openai
faiss-cpu        # For FAISS
chromadb         # For Chroma, optional
langchain==0.1.14
langchain_community==0.0.30
langchain_openai==0.0.8
fastapi
uvicorn
twilio
telegram
google-api-python-client>=2.0.0
# New for health monitoring
psutil
redis
requests
polygon-api-client
scikit-learn
youtube-transcript-api
git+https://github.com/openai/whisper.git@v20230314
pytube
pypika==0.48.9

