flask
requests
python-dotenv
gunicorn
pandas
boto3
crewai
openai
faiss-cpu        # For FAISS
chromadb         # For Chroma, optional
langchain==0.1.14
langchain_community==0.0.30
langchain_openai==0.0.8
fastapi
uvicorn
twilio
telegram
